<h1>ANGULAR CRUD INTEGRATION</h1>
<hr>
<input type="button" name="postBtn" style="height: 5em; width: 15em;"
(click)="PostData()" value="Execute Http Post Call" />
<br>
<p>{{ retPostData }}</p>
<hr>
<input type="button" name="getBtn" style="height: 5em; width: 15em;"
(click)="GetData()" value="Execute Http Get Call" />
<br>
<p>{{ retGetData }}</p>
<hr>
<input type="button" name="putBtn" style="height: 5em; width: 15em;"
(click)="PutData()" value="Execute Http Put Call" />
<hr>
<input type="button" name="deleteBtn" style="height: 5em; width: 15em;"
(click)="DeleteData()" value="Execute Http Delete Call" />